body {
  background: aliceblue;
  color: #1a1a1a;
}

#container {
  max-width: 600px;
  margin-left: 5%;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-decoration: underline;
  font-weight: bold;
}

h3 > em {
  color: rgb(15, 70, 61);
}

em {
  color: rgb(89, 111, 177);
  font-weight: bold;
}

footer {
  border-top: solid 1pt #818181;
  margin-top: 20pt;
  padding-top: 20pt;
  font-size: 10pt;
  text-align: center;
  font-style: italic;
}

#buttons {
  margin-top: 20pt;
  display: flex;
  justify-content: space-between;
}

.button {
  margin-left: 5pt;
  cursor: pointer;
}

button#start-button {
  background-color: #aaaaff;
  color: #333;
}

#authorize-container {
  width: 50%;
  text-align: center;
  margin-bottom: 30px;
}

#authorize_button {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 20px;
}

#notifications {
  min-height: 70px; 
}

#canvas-table {
  border-collapse: collapse;
  margin-left: 50px;
}

.canvas-table-row {
  height: 66px;
}

.canvas-table-cell {
  min-width: 50pt;
  border: 1pt solid black;
  text-align: center;
  vertical-align: middle;
  user-select: none;
}

.player-cell {
  background-color: rgb(176, 190, 233);
}

.other-player-cell {
  background-color: rgb(200, 228, 224);
}

.cell-movable {
  cursor: pointer;
}

.selected-cell {
  background-color: #aaaaff;
}

.target-cell {
  background-color: #d9d9f0;
}

@media only screen and (max-width: 768px) {
  #container {
    max-width: unset;
    margin: unset;
    width: 100%;
  }

  h1 {
    font-size: 14pt;
    text-decoration: underline;
  }

  footer {
    margin-top: 20pt;
    font-size: 6pt;
    text-align: right;
    font-style: italic;
  }

  #instructions {
    max-width: 85%;
  }
  
  #buttons {
    margin-top: 6pt;
    margin-right: 5pt;
    display: flex;
    justify-content: space-between;
  }

  #authorize-container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #authorize_button {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 20px;
  }

  #notifications {
    font-size: 9pt;
  }

  #canvas-table {
    border-collapse: collapse;
    margin: unset;
  }
  
  .canvas-table-row {
    height: 60px;
  }
  
  .canvas-table-cell {
    min-width: 33pt;
    width: 40pt;
    font-size: 9pt;
    border: 1pt solid black;
    text-align: center;
    vertical-align: middle;
    user-select: none;
  }
}