body {
  background: aliceblue;
  color: #1a1a1a;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.one-third-row {
  width: 33%;
  margin-bottom: 2%;
}

.two-thirds-row {
  width: 66%;
  margin-bottom: 2%;
}

.half-row {
  width: 48%;
  margin-bottom: 2%;
}

.full-row {
  width: 100%;
  margin-bottom: 2%;
}

.buttons {
  text-align: right;
  margin-top: 24px;
}

.button {
  width: 45%;
  margin-right: 8px;
}

.subtitle {
  min-height: 60px; 
}

.canvas-table {
  width: 90%;
  border-collapse: collapse;
}

.canvas-table-row {
  height: 70px;
}

.canvas-table-cell {
  width: 60px;
  border: 1pt solid black;
  text-align: center;
  vertical-align: middle;
  user-select: none;
}

.cell-movable {
  cursor: pointer;
}

.selected-cell {
  background-color: #aaaaff;
}

.target-cell {
  background-color: #aaaa;
}
